*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    user-select: none;
}
body {
  font-family:"Poppins", sans-serif;
  font-size: 20px;
  background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  padding-bottom: 30px;
}
img {
    mix-blend-mode: multiply;
    /* mix-blend-mode: normal; */
}
.headercs{
    margin-top: 18px;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
    z-index: 1000;
    
}
.navcs{
    display: flex;
    gap: 25px;
    background-color: rgb(255, 255, 255);
    justify-self: center;
    padding: 20px 40px;
    font: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.theme-toggle{
    cursor: pointer;
    padding: 5px 10px;
    
    margin-right: 10px;
    border-radius: 10px;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(255, 255, 255);
}



.featuredpr{
  margin: 30px;
  
}
.feature_card{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
  align-items: center;
}

.feature_card img{
  width: 75%;
  border: 1px solid rgb(231, 231, 231);
}

.feature_content{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.project_cards{
  margin-top: 50px;
}
.c1{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 600px;
  line-height: 30px;
  background-color: rgb(255, 255, 255);
  margin-top: 80px;
}
.pj_name{
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
}
.card_buttons{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card_button{
  display: block;          /* makes <a> behave like button */
  text-align: center;      /* centers text */
  text-decoration: none;   /* removes underline */
  cursor: pointer;
  color: white;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  transition: transform 0.3s ease;

}
.card_button:hover {
    transform: scale(1.02);
}
.card_button:active {
    transform: scale(0.95);
}

